<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Planit UI Suite" verbose="1" parallel="false">
  <listeners>
    <listener class-name="com.planit.utils.ExtentReportListener"/>
  </listeners>
  <test name="UI Tests">
    <classes>
      <class name="com.planit.tests.ContactFormErrorsTest"/>
      <class name="com.planit.tests.ContactFormSuccessTest"/>
      <class name="com.planit.tests.CartTotalsTest"/>
    </classes>
  </test>
</suite>
